.rocket {
  width: 10rem;
  position: fixed;
  left: 41%;
  bottom: 17%;
  transition: all 1.5s ease-out;

  &.animated {
    animation: ignition 5s ease-in forwards 1s;
  }
}

@keyframes ignition {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(100vw - 100%), calc(-100vh + 100%));
  }
}

.hidden {
  display: none;
}
