html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

main {
  border-left: 1px solid black;
  min-height: 100vh;
  box-sizing: border-box;
}

aside {
  box-sizing: border-box;
  padding: 0;
}

aside:has(details[open]) {
  min-width: 250px;
}

header {
  border-bottom: 1px solid black;
}
menu {
  display: flex;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 5px;
}

h1 {
  margin: 0;
  font-size: 36px;
  margin-bottom: 5px;
}
h2 {
  margin: 0;
  margin-bottom: 5px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.pixel-grid-container {
  position: relative;
  width: 100%;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.gap-10 {
  gap: 10px;
}

.rainbow {
  width: fit-content;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.clair {
  background-color: white;
  color: black;
}

.obscur {
  background-color: black;
  color: white;
}

.gray {
  background-color: lightgray;
  color: black;
}

.victory {
  position: fixed;
  font-size: 100px;
  transform: translate(-50%, -50%);
  width: max-content;
  top: 30%;
  left: 50%;
  z-index: 1001;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.reset {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: fit-content;
  background-color: black;
  color: white;
  cursor: pointer;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
