html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

h1 {
  margin: 0;
  font-size: 36px;
  width: fit-content;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main {
  border-right: 1px solid black;
  min-height: 100vh;
  box-sizing: border-box;
}

aside {
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px;
  flex-grow: 1;
}

.clair {
  background-color: white;
  color: black;
}

.obscur {
  background-color: black;
  color: white;
}
