html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

h1 {
  margin: 0;
  font-size: 36px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.gap-10 {
  gap: 10px;
}

.rainbow {
  width: fit-content;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main {
  border-left: 1px solid black;
  min-height: 100vh;
  box-sizing: border-box;
  flex-grow: 1;
}

aside {
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px;
}

.clair {
  background-color: white;
  color: black;
}

.obscur {
  background-color: black;
  color: white;
}

.gray {
  background-color: lightgray;
  color: black;
}

.victory {
  position: fixed;
  font-size: 100px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1001;
  width: fit-content;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.reset {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: fit-content;
  background-color: black;
  color: white;
  cursor: pointer;
}
